{
  # enable global var for node and browser (i.e winwdow)
  env: {
    browser: true,
    node: true,
  },

  parser: 'babel-eslint',

  extends: [
    # linter airbnb styles
    'airbnb',
    # prettier has to be the last one
    'prettier',
  ],

  settings: {
    # empty
  },

  plugins: [
    'prettier',
  ],

  rules: {
    # linter aibnb not check import modules alias. we risk lot of false positive.
    # webpack does it already for us. so this rule now is obsolete
    # https://github.com/vuejs-templates/webpack/issues/144 | chrisvfritz commented on 2 Jun 2016
    import/no-unresolved: 0,
    # enable console logs (just warnings)
    no-console: 1,
    prettier/prettier: [
      'error'
    ],
  },

}
