# Files to ignore / not to change by Prettier
# TODO: possible to set this info NOT in separate file, but in prettier config file?

config/variables
src/assets/generated
src/assets/javascripts/widgets/analytics
dist
