//- here you can set plain html. not clear why ...

//if lte IE 9
  <div class="box-message-danger">
    <span>
      You are using an <strong>outdated</strong> browser.
    </span>

    <span>
      Please
      <a href="http://browsehappy.com/" alt="Upgrade your browser" title="Upgrade your browser" target="_blank">
        upgrade your browser
      </a>
      to improve your experience and security.
    </span>

  </div>
