.device-rotate-wrapper.text-center
  //- the svg rotate thumb
  .device-rotate-thumb
    include ../../components/_logo_rotate.pug

  //- text info
  span.h4.title
    | Please rotate the device for a better experience
