.animated-bar.js-animated-bar

  span.title
    | Skills

  .holder

    .bar.cf(data-percent='100%')
      span.label
        | Html (Html5, Twig, Pug)

    .bar.cf(data-percent='95%')
      span.label
        | Css (Css3, Sass, Less)

    .bar.cf(data-percent='75%')
      span.label
        | JS (Vue, React, ES6, jQuery)

    .bar.cf(data-percent='70%')
      span.label
        | Webpack, Gulp

    .bar.cf(data-percent='50%')
      span.label
        | Symfony2, RoR, Wordpress

    .bar.cf(data-percent='40%')
      span.label
        | Adobe Suite, Sketch

    .bar.cf(data-percent='25%')
      span.label
        | NodeJS (Node, Npm, Yarn)
