.animated-bar.js-animated-bar
  h4.title
    | Skills

  .holder
    .bar-item
      span.label
        | Html (Html5, Twig, Pug)
      .bar.cf(data-percent='100%')

    .bar-item
      span.label
        | Css (Css3, Sass, Less)
      .bar.cf(data-percent='95%')

    .bar-item
      span.label
        | JS (Vue, React, ES6, jQuery)
      .bar.cf(data-percent='80%')

    .bar-item
      span.label
        | Webpack, Gulp
      .bar.cf(data-percent='70%')

    .bar-item
      span.label
        | Symfony2, Ruby on Rails, Wordpress
      .bar.cf(data-percent='60%')

    .bar-item
      span.label
        | Design (Adobe Suite, Sketch)
      .bar.cf(data-percent='40%')

    .bar-item
      span.label
        | Server (NodeJS, Npm, Yarn)
      .bar.cf(data-percent='25%')
