- title = 'Portfolio'
- subtitle = 'What I love to do.'

//- set dummy array for portfolio: set empty array and then add items/objects inside
//- https://github.com/pugjs/pug/issues/502
- portofolioItemsArray = []

- portofolioItemsArray.push({ title: 'Deutschlandfunk Kultur', details: 'Html / Css / Js', description: 'Frontend  with React, Sass, and GraphQL', clientText: 'Endava', thumbName: 'thumb-dlr-kultur.jpg', linkPath: 'https://www.deutschlandfunkkultur.de/', isFancyBoxDisabled: true })
- portofolioItemsArray.push({ title: 'Freenet TV', details: 'Html / Css / Js', description: 'Frontend  with Twig, Sass, Vanilla JS and Vue', clientText: 'Endava', thumbName: 'thumb-freenet-tv.jpg', linkPath: 'https://www.freenet.tv/', isFancyBoxDisabled: true })
- portofolioItemsArray.push({ title: 'Sparwelt', details: 'Html / Css / Js', description: 'Frontend  with Twig, Sass, Webpack and GulpJS', clientText: 'Sparwelt', thumbName: 'thumb-website-sparwelt.jpg', linkPath: 'https://www.sparwelt.de/', isFancyBoxDisabled: true })
- portofolioItemsArray.push({ title: 'Zitronenstrasse', details: 'Html / Css / Js', description: 'Frontend with VueJS and Google Map API', clientText: 'Personal Project', thumbName: 'thumb-website-zitronenstrasse.jpg', linkPath: 'http://www.zitronenstrasse.com/', isFancyBoxDisabled: true })
- portofolioItemsArray.push({ title: 'Ennio Logo', details: 'Branding / Illustration', description: 'Concept and design for Ennio Profumerie Logo', clientText: 'Softweb srl (proposal)', thumbName: 'thumb-logo-ennio.jpg', linkPath: '/assets/images/portfolio/thumb_big/thumb-logo-ennio.jpg', isFancyBoxDisabled: false })
- portofolioItemsArray.push({ title: 'iTasty Logo', details: 'Branding / Illustration', description: 'Concept and design for iTasty Logo', clientText: 'Softweb srl (proposal)', thumbName: 'thumb-logo-itasty.jpg', linkPath: '/assets/images/portfolio/thumb_big/thumb-logo-itasty.jpg', isFancyBoxDisabled: false })
- portofolioItemsArray.push({ title: 'Softweb Logo', details: 'Branding / Illustration', description: 'Concept and design for Softweb Srl', clientText: 'Softweb srl', thumbName: 'thumb-logo-softweb.jpg', linkPath: '/assets/images/portfolio/thumb_big/thumb-logo-softweb.jpg', isFancyBoxDisabled: false })
- portofolioItemsArray.push({ title: 'Bottonia Video', details: 'Shooting / Editing', description: 'Online Commercial for Bottonia bijoux', clientText: 'Bottonia', thumbName: 'thumb-video-bottonia.jpg', linkPath: 'http://player.vimeo.com/video/18041086', isFancyBoxDisabled: false })
- portofolioItemsArray.push({ title: 'Softweb Video', details: 'Illustration / Postprodution', description: 'Online Commercial for Softweb Srl', clientText: 'Softweb srl', thumbName: 'thumb-video-softweb.jpg', linkPath: 'http://player.vimeo.com/video/22019445', isFancyBoxDisabled: false })

//- - portofolioItemsArray.push({ title: 'Ricette con la birra', details: 'Html / Css / Js', description: 'Wordpress Optimization', clientText: '', thumbName: 'thumb-website-ricette-con-la-birra.jpg', thumbLink: `http://ricetteconlabirra.it/`, isFancyBoxDisabled: true })
//- - portofolioItemsArray.push({ title: 'Profumi Introvabili', details: 'Html / Css / Js', description: 'Frontend Development (proposal)', clientText: '', thumbName: 'thumb-website-profumi-introvabili.jpg', thumbLink: `/assets/images/portfolio/thumb_big/thumb-website-profumi-introvabili.jpg`, isFancyBoxDisabled: false })

//- ------------------------------------
//- set markup

//- section heading mixin
+sectionHeading(title, subtitle)

//- content area
.row
  each item in portofolioItemsArray
    .col-sm-6.col-xl-4
      //- mixins teaser card
      +teaserCard(item.title, item.description, item.details, item.clientText, item.linkPath, item.thumbName, item.isFancyBoxDisabled)
