- title       = `Contacts.`
- subtitle    = `Let's stay in touch.`


//- section heading
+sectionHeading(title, subtitle)


//- content area
.row

  //- contact info
  .col-lg-5

    .info-area
      p
        | Do you want to tell me something
        span
          |  amazing?
      p
        |  Fill in the form.
      p
        | But if you cannot wait, write me at:
      P
        a(class='link' href='mailto:hello@valeriosillari.com')
          | hello@valeriosillari.com

    //- social icons
    include ../social_icons/essential.pug

  //- contact form
  .col-lg-7
    include ../contact_form/contact_form.pug
