.content

  h1.title
    | Hello.

  p.subtitle
    | My name is
    |
    span.highlight
      | Valerio
    | .

  p.subtitle
    | I am a frontend developer.

//- set arrow scroll
include ../arrow_scroll/arrow_scroll.pug
