//  on small mobile devices we NOT show the skill bar animation
.animated-bar
  display: none

// Big Phone screen: 480px and up
+breakpoint($is_screen_big_phone)
  .animated-bar
    display: block
    opacity: 0

    .title
      color: $color_bar_title

    .bar
      position: relative
      width: 0
      margin: 0.25em 0
      transition: width 1s,background .1s
      background: $color_bar_animated
      color: $color_bar_text

    .label
      display: inline-block
      position: relative
      width: 13.5em
      padding: 1em
      background: $color_bar_animated
      font-size: 0.75em
      font-weight: bold
