ul.social-icons

  li.social-icon
    a(class='socicon twitter', href='https://twitter.com/stellavalerio', target='_blank' title='Valerio Sillari on Twitter', alt='Valerio Sillari on Twitter')


  li.social-icon
    a(class='socicon linkedin', href='http://www.linkedin.com/in/valeriosillari', target='_blank' title='Valerio Sillari on LinkedIn', alt='Valerio Sillari on LinkedIn')

  li.social-icon
    a(class='socicon github', href='https://github.com/valeriosillari', target='_blank' title='Valerio Sillari on Github', alt='Valerio Sillari on Github')

  li.social-icon
    a(class='socicon instagram', href='https://www.instagram.com/stellavalerio/', target='_blank' title='Valerio Sillari on Instagram', alt='Valerio Sillari on Instagram')